.App {
  text-align: center;
}
body{
  margin: 0 2px 0 2px;
}
.name{
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: darkmagenta;
  color: white;
  font-size: 18px;
}
.form{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}
.input{
  font-size: 17px;
  height: 25px;
  width: 30%;
  padding: 5px;
}
.button{
  width: 10%;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}
.button:hover{
  background-color: rgb(4, 209, 4);
  color: rgb(46, 46, 46);
}
.output{
  display: flex;
  margin: 40px;
  justify-content: center;
}
.thead{
  height: 35px;
  width: 150px;
  border-right: 1px solid snow;
}
.table{
  background-color: blue;
  color: white;
}
#tth{
  border-right: none;
}